{% extends 'base.html' %}
{% block content %}
<div class="card">
    <div class="card-header">Your Fee Records</div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Program</th>
                    <th>Amount Paid</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% for fee in fees %}
                <tr>
                    <td>{{ fee.fee_structure.program }}</td>
                    <td>{{ fee.amount_paid }}</td>
                    <td>{{ fee.due_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}