{% extends 'base.html' %}
{% block content %}
<div class="card">
    <div class="card-header">Academic Report</div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Course</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                {% for grade in grades %}
                <tr>
                    <td>{{ grade.student.user.username }}</td>
                    <td>{{ grade.course.name }}</td>
                    <td>{{ grade.grade }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}