{% extends 'base.html' %}
{% block content %}
<div class="card">
    <div class="card-header">Manage Batches</div>
    <div class="card-body">
        <form method="post" class="mb-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Add Batch</button>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Year</th>
                    <th>Department</th>
                </tr>
            </thead>
            <tbody>
                {% for batch in batches %}
                <tr>
                    <td>{{ batch.name }}</td>
                    <td>{{ batch.year }}</td>
                    <td>{{ batch.department.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}